body {
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  font-family: DM serif display;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;

}

@font-face {
  font-family: EnglishTowne;
  src: url("EnglishTowne.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


main {
  border: 1px solid rgba(255, 255, 255, 0.7);   
  height: 500px;
  width: 500px;
  position: relative;
  display: flex;
  justify-content: center;

}

.content-box {
 padding-top: 40px;
 padding-bottom: 10px;
 line-height: 27px;
  z-index: 400;
}

.content-header {
  padding-bottom: 26px;
  margin-bottom: 12px;
  font-size:50px;
  font-weight: 500;
  font-family: EnglishTowne;
  color: rgba(255, 255, 255, 0.7);
  cursor: default;
}

.about-link {
  position: absolute;
  bottom: -4px;
  right: 3px;
  font-size: 13px;
  cursor: pointer;
}

.about-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 117px;
  margin-right: 117px;
  margin-top: 90px;
  top: 0px;
  bottom: 0px;
  left: 0px; 
  right: 0px;
  color: rgba(255, 255, 255, 0.7);
  background-color:black;
  font-size: 17px;
  transition: 0.7s;
  z-index: -200;
  opacity: 0;
  transition: linear 1s;
}

.about-flex {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 13px;
  margin-right: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}

.about-button2:hover .about-box {
opacity: 1;
z-index: 500;

}


.morbid-pic,
.nile-pic,
.deicide-pic,
.hate-eternal-pic,
.krisiun-pic,
.decapitated-pic,
.cryptopsy-pic,
.death-pic,
.entombed-pic,
.obituary-pic,
.vital-remains-pic,
.skeletal-remains-pic,
.behemoth-pic {
  position: absolute;
  z-index: -100;
  height: 500px;
  width: 500px;
  opacity: 0;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: 2.5s;
}

.morbid-angel-link,
.nile-link,
.deicide-link,
.hate-eternal-link,
.krisiun-link,
.decapitated-link,
.cryptopsy-link,
.death-link,
.entombed-link,
.obituary-link,
.vital-remains-link,
.skeletal-remains-link,
.behemoth-link {
  cursor: pointer;

}

.morbid-angel-link:hover .morbid-pic,
.nile-link:hover .nile-pic,
.deicide-link:hover .deicide-pic,
.hate-eternal-link:hover .hate-eternal-pic,
.krisiun-link:hover .krisiun-pic,
.decapitated-link:hover .decapitated-pic,
.cryptopsy-link:hover .cryptopsy-pic,
.death-link:hover .death-pic,
.entombed-link:hover .entombed-pic,
.obituary-link:hover .obituary-pic,
.vital-remains-link:hover .vital-remains-pic,
.skeletal-remains-link:hover .skeletal-remains-pic,
.behemoth-link:hover .behemoth-pic {
  opacity: .33;

}

.morbid-angel-link:hover,
.nile-link:hover,
.deicide-link:hover,
.hate-eternal-link:hover,
.krisiun-link:hover,
.decapitated-link:hover,
.cryptopsy-link:hover,
.death-link:hover,
.entombed-link:hover,
.obituary-link:hover,
.vital-remains-link:hover,
.skeletal-remains-link:hover,
.behemoth-link:hover {
  background: rgba(0, 0, 0, 0.20);

}












