h3 {
  letter-spacing: 5px;
  padding: 0px;
  margin: 0px;
  line-height: 16px;
  cursor: default;
  display: inline-block;
  text-transform: uppercase;
}

p {
  margin: 0px;
  padding: 0px;
  line-height: 16px;
  font-weight: 300;
  text-transform: none;
  text-align: center;
}



/* SIDEBAR */


.projects-container {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
  height: 508px;
  margin-bottom: 3em;
}

.left-sidebox-container {
  position: absolute;
  width: 160px;
  margin-right: 4em;
}

.left-sidebox-title {
  display: flex;
  margin-bottom: 2em;
}

.left-sidebox-info p {
  display: flex;
  text-align: left;
  margin-bottom: 1em;

}


/* GRID */


.grid-content {
  position: absolute;
  left: 250px;
  right: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
  row-gap: 3em;
  margin-top: 2em;
}

.grid-content-box {
}

.grid-content-box-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.grid-content-box-info {
  margin-top: 12px;

}